.accomplish li {
    clear: both;
}

.accomplish .reject-input {
    margin-top: 1.5em;
}

.accomplish .fadeIn {
    line-height: 20px;
    opacity: 1;
}

.accomplish .fadeIn.ng-hide-add, .accomplish.fadeIn.ng-hide-remove {
    transition: all linear 0.5s;
}

.accomplish .fadeIn.ng-hide {
    line-height: 0;
    opacity: 0;
    padding: 0 10px;
}

.rowCenter {
    display: flex;
    align-items: center;
    height: 56px;
}

.accomplish button {
    float: right;
}

.accomplish .ng-hide-add {
    animation: 0.5s flipOutX ease;
}

.accomplish .ng-hide-remove {
    animation: 0.5s flipInX ease;
}

.dateStamp {
    font-size: 0.8em;
    position: absolute;
    bottom: -30px;
    color: #7f8c8d;
    line-height: normal;
}

.smallCircular {
    border-radius: 50%;
    overflow: hidden;
    width: 3em;
    height: 3em;
    margin: 0 auto;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.accomplish .smallCircular img {
    text-align: center;
    display: block;
    height: 100%;
    width: 100%;
    min-width: 100%;
    min-height: 100%;
}

.accomplish .button {
    float: right;
}

.smoothColor {
    -webkit-transition: background-color 2s ease-out;
    -moz-transition: background-color 2s ease-out;
    -o-transition: background-color 2s ease-out;
    transition: background-color 2s ease-out;
}

time.icon {
    font-size: 0.5em;
    display: block;
    position: relative;
    width: 7em;
    height: 7em;
    background-color: #fff;
    margin: auto;
    margin-bottom: 1em;
    border-radius: 0.6em;
    box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff, 0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd;
    overflow: hidden;
    float: left;
}

time .icon {
    margin-right: 1em;
}

time.icon * {
    display: block;
    width: 100%;
    font-size: 1em;
    font-weight: bold;
    font-style: normal;
    text-align: center;
}

time.icon strong {
    position: absolute;
    top: 0;
    padding: 0.4em 0;
    color: #fff;
    background-color: #e74c3c;
    border-bottom: 1px dashed #f37302;
    box-shadow: 0 2px 0 #e74c3c;
}

time.icon em {
    position: absolute;
    bottom: 0.3em;
    color: #e74c3c;
}

time.icon span {
    width: 100%;
    font-size: 2.8em;
    letter-spacing: -0.05em;
    padding-top: 0.8em;
    color: #2f2f2f;
}

