.topRow{
    margin-top: 20px;
    margin-bottom: 20px;
}

.topRow button{
    float: right;
    margin-bottom: 10px;
}

.topRow span{
    font-size: 1.8em;
}

.announcement .btn.ng-hide-add {
    animation: 0.6s fadeOut ease;
}

.announcement .btn.ng-hide-remove {
    animation: 1s bounceInDown ease;
}

.announcement .ng-hide-add {
    animation: 0.6s flipOutX ease;
}

.announcement .ng-hide-remove {
    animation: 1s bounceInDown ease;
}

.announcement .ng-enter {
    animation: 1.2s slideInRight ease;
}

.announcement .ng-hide {
    animation: 1.2s slideInRight ease;
}