<div class="col-lg-1"/>

<div class="col-lg-10 divide" ng-app="myApp.divide" ng-controller="divideCtrl as divide">

    <button type="submit" ng-click="newExpense = true" class="btn btn-default">New expense</button>

    <!-- <ul class="list-group">
         <li class="list-group-item" ng-repeat="exp in awaiting_duties | orderBy:'deadline':reverse"
             ng-class="{'list-group-item-warning class smoothColor ' : duty.status === 1, 'list-group-item-danger' : duty.status === -1,
             'list-group-item-success animated bounceOutLeft' : duty.status === 2}" ng-hide="duty.status === 2">
             <div class="row rowView">
                 <div class="col-xs-1">
                     <time datetime={{duty.deadline}} class="icon">
                         <em>{{duty.deadline | date: 'EEEE'}}</em>
                         <strong>{{duty.deadline | date: 'MMMM'}}</strong>
                         <span>{{duty.deadline | date: 'dd'}}</span>
                     </time>
                 </div>
                 </div>
             </li>
         </ul>
 -->

    <form role="form" ng-show="newExpense">
        <div class="form-group">
            <label for="user">Who spent the money:</label>
            <select class="form-control" id="user" ng-model="expense.whose"
                    ng-options="opt as opt.user_name for opt in usersList" ng-init="expense.whose =user.user"></select>
        </div>
        <div class="form-group">
            <label for="amount">How much:</label>
            <input type="number" class="form-control" ng-model="expense.amount" id="amount"
                   placeholder="Enter the amount in euros">
        </div>
        <div class="form-group">
            <label for="type">For what:</label>
            <input type="text" class="form-control" ng-model="expense.desc" id="type" placeholder="For what">
        </div>
        <div class="form-group">
            <label for="date">Select announcement date:</label>
            <input type="date" class="form-control" ng-model="expense.date" id="date">
        </div>

        <label>Select mates to share expenses with:</label>
        <input type="checkbox" ng-model="expense.all" ng-change="updateAll(announce)">
        <label class="control-label">Select all</label>

        <div class="controls">
            <label class="checkbox inline" ng-repeat="sharedUser in usersList">
                <input type="checkbox" value="{{sharedUser.id}}" ng-model="expense.usersList[sharedUser.id]">
                {{sharedUser.user_name}}
            </label>
        </div>

        <button type="submit" ng-click="update(expense)" class="btn btn-default">Submit</button>
    </form>
</div>
<div class="col-lg-1"/>

