$color1 : #4183D7; //frames
$color2: #ecf0f1; //hover color
$color3: #F2F1EF; //menu fonts
$color4 : rgba(13, 16, 26, 0.67);

$col: #242736;
$col: #392F38;
$col: #5D3A3A;
$col: #FFB357;
$col: #FDC96D;