/* Toggle Styles */
@import 'variable';

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 0px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: $color1;
  box-shadow: 5px 0px 12px black;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
  color: $color3  ;
}

.sidebar-nav li {
  text-indent: 2em;
  line-height: 3em;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: $color3;
  -webkit-transition: color 100ms, background 400ms;
  -moz-transition: color 100ms, background 400ms;
  -ms-transition: color 100ms, background 400ms;
  -o-transition: color 100ms, background 400ms;
  transition: color 100ms, background 400ms;

}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: $color1;
  background: $color2;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-user-name {
  height: 2em;
  font-size: 1.3em;
  line-height: 3em;

  text-indent: 0;
  text-align: center;
}

.sidebar-nav > .sidebar-user-picture{
  text-indent: 0;
  text-align: center;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

@media(min-width: 768px) {
  #wrapper, #wrapper.toggled {
    padding-left: 250px;
    position: relative;
  }


  #sidebar-wrapper {
    width: 250px;
    box-shadow: 0px 0px 0px black;
  }


  #page-content-wrapper {
    position: relative;
  }

  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;

  }
}

@media(min-width: 1200px ){
  /*kontener trzymajacy sidebar oraz page-contener wrapper*/
  #wrapper {
    padding-left: 20%;
    position: relative;
  }

  #sidebar-wrapper {
    width: 20%;
  }

  #page-content-wrapper {

  }
}

.circus{
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  border-radius: 50%;
  overflow: hidden;
}
.circular {
  width: 15em;
  height: 15em;
  margin: 0 auto;
}
.circular img {
  text-align: center;
  display: block;
  height: 100%;
  width: 100%;
  min-width: 100%;
  min-height: 100%;
}

.sidebar-nav{
  width: 100%;
}
.sidebar-nav .glyphicon{
  display: inline;
  top: 0.3em;
  padding-right: 0.5em;
  font-size: 2em;
}

.sidebar-nav hr{
  border-top: 2px solid #eee;
  margin: 0.5em 0.3em;
}

.sidebar-nav hr.short{
  border-top: 2px solid #eee;
  margin: 0.3em 1em 0.3em 1em;
}

.confirm-logout{
  text-align: center;
  visibility: hidden;
  list-style-type: none;
  padding: 0;
}

ul.sidebar-nav li:hover .confirm-logout {
  visibility:visible;
}
