<div class="homePage" ng-app="myApp.homePage" ng-controller="homePageCtrl as homePage">
  <div class="row">
    <div class="col-lg-2"/>
    <div class="col-lg-8 well calendar">
      <div ui-calendar="uiConfig.calendar" ng-model="eventSources"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-1"/>
    <div class="col-lg-10">
      <h3>Upcoming things:</h3>
      <li class="list-group-item" ng-repeat="event in calendarEvents| filter: afterToday()">
        <div class="row rowView">
          <div class="col-xs-1">
            <time datetime={{event.start}} class="icon">
              <em>{{event.start | date: 'EEEE'}}</em>
              <strong>{{event.start | date: 'MMMM'}}</strong>
              <span>{{event.start | date: 'dd'}}</span>
            </time>
          </div>
          <div class="col-xs-11">
            <span>{{event.title}}</span>
            <span class="pull-right">You need to accomplish that duty <strong>{{humanizeTime(event.start)}}</strong></span>
          </div>

        </div>
      </li>
    </div>
  </div>
</div>

