<!DOCTYPE html>

<html lang="en" ng-app="myApp" class="no-js" xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.css">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="bower_components/angular-aside/dist/css/angular-aside.css">
  <link rel="stylesheet" href="bower_components/angular-bootstrap/ui-bootstrap-csp.css">
  <link rel="stylesheet" href="bower_components/fullcalendar/dist/fullcalendar.css"/>
  <link rel="stylesheet" href="bower_components/angular-date-picker/angular-date-picker.css">

  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="common/app.css">
  <link rel="stylesheet" href="common/sidebar.css">
  <link rel="stylesheet" href="common/login.css">
  <link rel="stylesheet" href="common/approve.css">
  <link rel="stylesheet" href="common/accomplish.css">
  <link rel="stylesheet" href="common/divide.css">
  <link rel="stylesheet" href="common/announcement.css">
  <link rel="stylesheet" href="bower_components/select2/select2.css">
  <link rel="stylesheet" href="common/homePage.css">
  <link rel="stylesheet" href="common/animate.css">

</head>
<body ng-controller="userCtrl as user">
<ng-include src="'./user/loginModal.html'"></ng-include>
<div id="wrapper" ng-class="toggleMenu ? 'toggled' : 'not-toggled'">
  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <span ng-click="toggleMenu = false" class="glyphicon glyphicon-menu-left menu-toggle visible-xs" aria-hidden="true"></span>
      <li class="sidebar-user-picture">
        <div class="circular circus"><img data-toggle="modal" data-target="#login-modal" src="{{currentUser.image}}"/>
        </div>
      </li>
      <li class="sidebar-user-name"><a href="#asd">{{ currentUser.name }} {{currentUser.lastName}}</a></li>
      </br>
      <hr>
      <li><a href="#homePage" ng-click="toggleMenu = false"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>Homepage</a></li>
      <li><a href="#approve" ng-click="toggleMenu = false"><span class="glyphicon glyphicon-time" aria-hidden="true"></span>Waiting for
        approve</a></li>
      <li><a href="#accomplish" ng-click="toggleMenu = false"><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>Accomplish duty</a>
      </li>
      <li><a href="#divide" ng-click="toggleMenu = false"><span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span>Divide expenses</a>
      </li>
      <li><a href="#announcement" ng-click="toggleMenu = false"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>Announcements</a></li>
      <hr class="short">
      <li><a href="#mates" ng-click="toggleMenu = false"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>Add new mate</a></li>
      <li><a href="#room" ng-click="toggleMenu = false"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Add new room</a></li>
      <hr class="short">
      <li><a ng-show="!currentUser.guest" ng-click="logout()"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>Logout</a></li>
    </ul>
  </div>
  <!-- Page Content -->

  <div class="navigation-bar">
    <div class="navigation-icon">
      <span ng-click="toggleMenu = true" class="glyphicon glyphicon-menu-hamburger menu-toggle visible-xs" aria-hidden="true"></span>
    </div>
    <div class="navigation-title">{{title}}</div>
  </div>
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div ng-view class="view-animate"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- /#page-content-wrapper -->
</div>

<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/moment/min/moment.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/angular-aside/dist/js/angular-aside.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-bootstrap-confirm/dist/angular-bootstrap-confirm.min.js"></script>
<script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
<script src="bower_components/angular-bootstrap-confirm/dist/angular-bootstrap-confirm.min.js"></script>
<script src="bower_components/angular-ui-calendar/src/calendar.js"></script>
<script src="bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
<script src="bower_components/fullcalendar/dist/gcal.js"></script>
<script src="bower_components/angular-date-picker/angular-date-picker.js"></script>

<script src="common/app.js"></script>
<script src="common/route.js"></script>
<script src="homePage/homePage.js"></script>
<script src="user/jQueryLogin.js"></script>
<script src="user/user.js"></script>
<script src="approve/approve.js"></script>
<script src="room/room.js"></script>
<script src="mates/mates.js"></script>
<script src="accomplish/accomplish.js"></script>
<script src="divide/divide.js"></script>
<script src="announcement/announcement.js"></script>
<script src="components/version/version.js"></script>
<script src="components/version/version-directive.js"></script>
<script src="components/version/interpolate-filter.js"></script>
<script type="text/javascript" src="bower_components/select2/select2.js"></script>
<script type="text/javascript" src="bower_components/angular-ui-select2/src/select2.js"></script>

<div ng-class="currentUser.guest? 'modal-backdrop fade in' : 'none'"></div>

<!--ONLY FOR DEVELOPMENT-->
<script src="//localhost:35729/livereload.js"></script>
</body>
</html>
