<div class="col-lg-1">
</div>
<div class="col-lg-10 aprove" ng-app="myApp.aprove" ng-controller="aprove">
  <h1>Aprove</h1>
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="duty in awaiting_duties"
        ng-class="{'list-group-item-success animated bounceOutLeft' : duty.status === 1, 'list-group-item-danger' : duty.status === -1}"
        ng-hide="duty.status === 1">
      <fieldset ng-disabled="duty.status === -1">
          {{duty.title}} by {{duty.resp_person}}

        <button mwl-confirm
                title="Confirm"
                message="Are you sure you want to confirm this duty?"
                on-confirm="aprove(duty.id)"
                class="btn btn-success" ><i class="glyphicon glyphicon-ok" aria-hidden="true"></i></button>
        <button ng-click="expandForm = true" class="btn btn-danger" ><i class="glyphicon glyphicon-remove" aria-hidden="true"></i></button>

        <div class='fadeIn' ng-show="expandForm">
          <input ng-model="rejectMessage" class="form-control reject-input" id="reject" placeholder="Why you rejected {{duty.resp_person}} cleaning?">
          <button mwl-confirm
                  title="Confirm"
                  message="Are you sure you want to reject this duty?"
                  confirm-text="Reject"
                  on-confirm="reject(duty.id, rejectMessage)"
                  class="btn btn-default">Send</button>
        </div>
      </fieldset>
    </li>
  </ul>

</div>
<div class="col-lg-2">
</div>